@use 'colors';


.learn-more {
  display: inline-block;
  font-size: 17px;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  padding: 1rem;
  background-color: colors.$grey1;
  border: 0.75px solid colors.$body-text-color;
  color: colors.$body-text-color;
  cursor: pointer;
}

.button:hover,
.button:focus,
.button:active {
  background-color: colors.$grey3;
  border: 0.75px solid colors.$body-text-color;
  color: colors.$body-color;
}

