$primary-color: #f45809;
$secondary-color:#f6722f;
$tertiary-color: #f19363;
$fourth-color: #f3d5c5;
$fifth-color: #f9ece5;
$body-text-color: #2f6071;
$primary-special-color: #09A5F4;
$secondary-special-color:#2FB3F6;
$tertiary-special-color: #63C1F1;
$fourth-special-color:#C5E3F3;
$fifth-special-color: #E5F2F9;
$highlight1: #09F458;
$highlight2: #5809F4;
$highlight2: #09F4CE;
$body-text-color: #2f6071;
$body-color: #fafcfe;


$grey1: #c3ced3;
$grey2: #9da3a6;
$grey3: #787e81;
$grey4: #474b4d;