@use 'colors';
@use 'base';

.footer {
  background: url(./../images/textures/Blue-textures.jpg) no-repeat right center/cover;
  padding: 30px;
}

.footer img {
  width: 100%;
}

.footer a {
  color: colors.$secondary-color;
}

.footer a:hover,
.footer a:focus {
  color: colors.$primary-color;
  list-style: none;
}

.footer-top {
  padding: 15px;
  background-color: colors.$fifth-color;
  color: colors.$secondary-color;
  display: grid;
}
  
.footer__logo-image {
  width: 2em;
}

.footer-bottom {
  padding: 15px;
  background-color: colors.$fourth-color;
  color: colors.$secondary-color; 
}
.footer__menu-list {
  font-size: 15px;
}
.footer__copyright {
  padding: 15px;
  font-size: 14px;
  text-align: center;
}

.footer-terms {
  font-size:12px;
}
.footer__links {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media screen and (min-width: 640px) {
  .footer-top {
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  }
}

  .footer-bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }



@media screen and (min-width: 1100px) {

}