@use 'colors';

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.grid img {
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  
  .grid__item {
    border: 3px solid black;
  }
  
  .grid__item-img {
    display: block;
    width: 100%;
  }
  
  .grid__item-desc {
    background-color: #888;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .grid__item-desc h2 {
    margin-top: 0;
    margin-bottom: 0.5em;
    color: peachpuff;
  }
  