@use 'colors';
@use 'base';

.menu {
    background-color: colors.$primary-color;

    &__toggler {
      cursor: pointer;
    }

    &__checkbox {
      position: absolute;
      left: -9999px;
    }
  
    &__list {
        display: none;
        margin: 0;
        padding: 5px;
        justify-content: center;
        list-style: none;
    }
    @media screen and (min-width: 640px) {
        .menu__list {
         text-align: left;
        }
    }

    &__item {
        border-bottom: 1px solid white;
    }
    &__item:not(:last-child) {
        border-right: 1px solid white;
    }

  
    &__link {
        display: block;
        padding: 10px 20px;
        color: white;
        text-decoration: none;
        font-family: 'Abril Fatface', cursive;
        font-size: 18px;

        &:hover,
        &:focus {
          background-color: white;
          color: colors.$primary-color;
        }
    }
  
  @media screen and (max-width: 799px) {
      .menu__checkbox:checked ~ .menu__list {
          display: block;
      }
  }
  
  @media screen and (min-width: 800px) {
      .menu__toggler {
          display: none;
      }
      .menu__list {
          display: flex;
      }
      .menu__item {
          border-bottom: 0;
          border-right: 1px solid white;
      }
    }