---
Layout:layouts/eng/header-footer eng.njk
Title:
---
<--!insert head-->
{% include 'partials/header.njk' %}

<!-- add menu -->
{% include 'partials/menu.njk' %}

<main class="main">

<!--add page content or layout -->

{{ content | safe }}

</main>

<--!insert footer-->
{% include 'partials/footer.njk' %}
