<!--Section menu -->

    <nav class=”menu”>
        <ul class=”menu__list”>
            <li class=”menu__item”><a href=”/” class=”menu__link”>HOME IT!</a></li>
            <li class=”menu__item”><a href=”/explore-it/” class=”menu__link”>EXPLORE IT!</a></li>
            <li class="menu__item”><a href="/read-it/" class=”menu__link”>READ IT!</a></li>
            <li class=”menu__item”><a href=”/make-it/” class=”menu__link”>MAKE IT!</a></li>
            <li class=”menu__item”><a href=”/buy-it/” class=”menu__link”>BUY IT!</a></li>
            <li class=”menu__item”><a href=”/category/” class=”menu__link”>Category</a></li>
            <li class=”menu__item”><a href=”/cz/” class=”menu__link”>Cz</a></li>
        </ul>
    </nav>