---
layout: layouts/en/header-footer.njk
title: title
---
<--!insert head-->
{% include 'partials/header.njk' %}

<!-- add menu -->
{% include 'partials/menu.njk' %}

<main class="main">

<!--add page content or layout -->

{{ content | safe }}

</main>

<--!insert footer-->
{% include 'partials/footer.njk' %}
