   <!--Section footer -->
        <footer class=”footer”>
            <div class="footer-top">
                <div class="footer__logo-image>
                        <img class="image__logo-image” src=”/images/adwir-boat.png” alt=”paper-boat”</img>
                </div> 
                
                <div class="lets-connect">

                    <h3>LET’S CONNECT</h3>

                    <div class="facebook"><a href="https://www.facebook.com/adwir.island.made/"> src=”/images/#FF8c21_Facebook_32.png” Facebook</a></div>
                    <div class="instagram" ><a href="https://www.instagram.com/adwir.island.made//"> src=”/images/#FF8c21_Instagram_32.png” Instagram</a></div>
                    <div class="contact" ><a href="#contact"> src=”/images/#FF8c21_Email_32.png” Contact</a></div>

                </div>
            </div>  

                <div class="footer__menu-list">
                    <ul class=”menu-list”>
                        <li class=”menu__item”><a href=”/” class=”menu__link”>ABOUT</a></li>
                        <li class=”menu__item”><a href=”/make it!/” class=”menu__link”>DIY </a></li>
                        <li class=”menu__item”><a href=”/read it!/” class=”menu__link”>BLOG</a></li>
                        <li class=”menu__item”><a href=”/gallery/” class=”menu__link”>PORTFOLIO</a></li>
                   </ul>
                </div>
            
            <div class="footer-buttom">

                <div class="footer__copywright">
                    &copy Adwir 2022
                </div>   
    
                <div class="footer-terms">
                    <ul class=”footer__list”>
                        <li class=”menu__item”><a href=”#” class=”menu__link”>Terms and conditions</a></li>
                        <li class=”menu__item”><a href=”#” class=”menu__link”>Policies </a></li>
                        <li class=”menu__item”><a href=”#” class=”menu__link”>Disclaimers</a></li>
                    </ul>
                </div>    
            </div> 
        </footer>
    </div>
</body>
