<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADWIR-island made</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alumni+Sans+Pinstripe&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,600;0,6..96,700;1,6..96,400;1,6..96,600;1,6..96,700&family=Dancing+Script&family=Lemonada&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/css/style.css">
    
</head>
<body>
    <div class="wrapper">
        <!--Section header -->

            <header class=”header”>
                <div class="logo">
                    <div class="header__logo-image>
                        <img class="image__logo-image” src=”/images/adwir-boat.png” alt=”paper-boat”</img>
                    </div> 
                    <div class="header__logo-font>   
                        <img class=”image__logo-font” src=”/images/adwir-font-right.png” alt=”logo-font”</img>
                    </div> 
                </div>  