<!--Section menu -->

    <nav class=”menu”>
        <ul class=”menu__list”>
            <li class=”menu__item”><a href=”/” class=”menu__link”>HOME IT!</a></li>
            <li class=”menu__item”><a href=”/EXPLORE IT!/” class=”menu__link”>EXPLORE IT!</a></li>
            <li class="menu__item”><a href="/READ IT!/" class=”menu__link”>READ IT!</a></li>
            <li class=”menu__item”><a href=”/MAKE IT!/” class=”menu__link”>MAKE IT!</a></li>
            <li class=”menu__item”><a href=”/BUY IT!/” class=”menu__link”>BUY IT!</a></li>
            <li class=”menu__item”><a href=”/Category/” class=”menu__link”>Category</a></li>
            <li class=”menu__item”><a href=”/Cz/” class=”menu__link”>Cz</a></li>
        </ul>
    </nav>